.git
.github
.idea
.vscode
.fleet
.nova
.zed
node_modules
vendor
tests
.phpunit.cache
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/ssr
public/build
public/hot
public/storage
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
auth.json
*.md
!README.md
